/* App Style Start */
.app {
    height: calc(100vh - 85px);
    max-height: min(1000px, calc(100vh - 85px));

    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}
/* App Style End */

/* Sidebar Start */
.sidebar {
    width: 200px;
    padding: 20px 10px;
    margin: auto 10px auto 0;
    border-radius: 14px;
    overflow-x: hidden;

    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;

    text-align: right;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.sidebar.reduced {
    width: 60px;
}

.sidebar .logo,
.sidebar .switch {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: var(--main-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    color: var(--bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.1rem;
    font-weight: 900;
    pointer-events: none;
}

.sidebar .switch {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 40px;
    font-size: .8rem;
    color: var(--bg-color);
    
    pointer-events: all;
    cursor: pointer;
    transition: .25s;
}
.sidebar .switch:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

.sidebar .switch .icon {
    transform-origin: center 5.5px;
    transition: .25s;
}
.sidebar.reduced .switch .icon {
    transform: rotate(180deg);
}

.sidebar .links {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    list-style: none;
}

.sidebar .links .item {
    height: fit-content;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    flex-direction: row-reverse;
    
    background-color: var(--color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    color: var(--bg-color);
    font-size: 1.05rem;
    font-weight: 500;
    cursor: pointer;
    transition: .25s;
}
.sidebar .links .item:hover,
.sidebar .links .item.active,
.sidebar.reduced .links .item.active,
.sidebar.reduced .links .item:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}
.sidebar.reduced .links .item {
    border-radius: 6px;
    background-color: var(--main-color);
}

.sidebar.reduced .links .item .text {
    opacity: 0;
}

.sidebar .links .item .icon {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    /* background-color: red; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s;
}
.sidebar.reduced .links .item .icon {
    font-size: 1.8rem;
}
/* Sidebar End */


/* Page General Styles Start */
.page {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.page section{
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    padding: 40px 20px;
}

.section-title {
    margin-bottom: 60px;
}
/* Page General Styles End */

/* Cart section Start */
.cart .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cart .wrapper .item {
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 16px;
    overflow: hidden;
}

.cart .wrapper .item .image {
    width: 250px;
    height: 200px;
}
.cart .wrapper .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart .wrapper .item .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart .wrapper .item .content .name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: .9;
    font-style: italic;
    color: var(--color);
}

.cart .wrapper .item .content .category {
    font-size: .95rem;
    font-weight: 400;
    font-style: italic;
}

.cart .wrapper .item .content .price {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: -2.5px;
    margin-bottom: 10px;
}

.cart .wrapper .item .content .cta {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart .wrapper .item .content .cta .remove-from-cart {
    background-color: transparent;
    color: var(--main-color);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .75rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.cart .wrapper .item .content .cta .remove-from-cart::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    border-radius: inherit;
    transition: inherit;
}
.cart .wrapper .item .content .cta .remove-from-cart:hover {
    color: var(--bg-color);
}
.cart .wrapper .item .content .cta .remove-from-cart:hover::before {
    width: 100%;
}
/* Cart section End */


/* Logout section Start */
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout .confirm {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
}

.logout .confirm .alert {
    text-align: center;
    color: var(--color);
    font-size: 1.52rem;
    font-style: italic;
}

.logout .confirm .cta {
    display: flex;
    gap: 10px;
}

.logout .confirm .cta .mail {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.8);
    max-width: 140px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid var(--color); */
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
}
.logout .confirm .cta .mail::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background-image: linear-gradient(to left, var(--bg-color) 15%, transparent);
}

.logout .confirm .cta .cta-btn {
    border-radius: 6px;
}
/* Logout section End */