@import url(./product.css);

/* General Styles Start */
.product {
    justify-content: center;
}

.product .images {
    flex: 1 1 100%;
    width: auto;
    max-width: 700px;
}


.product .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    flex: 0 1 420px;
    max-width: 420px;
}

.product .content .name {
    font-size: 1.8rem;
    font-weight: 500;
}

.product .content .caracteristics {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 100%;
}

.product .content .caracteristics .preview {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
/* Disabled Cart Counter */
.counter-add-to-cart {
    box-shadow: none;
    cursor: not-allowed;
}

.counter-add-to-cart input {
    cursor: not-allowed;
}

.counter-add-to-cart .btns,
.counter-add-to-cart .cta-btn {
    opacity: 0.8;
    pointer-events: none;
}

.counter-add-to-cart .btns .item {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: .2s;
}
/* General Styles End */

/* Form Styles Start */
input,
textarea {
    font-family: sans-serif;
    font-size: 1rem;
    min-height: 35px;
    padding: 0 5px;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    background-color: var(--bg-color);
    border-radius: 5px;
}

form label {
    display: flex;
    gap: 2px;
    flex-direction: column;
    height: fit-content;
    /* flex: 0 0 100%; */
}

form label .text {
    font-size: 1.06rem;
    font-weight: 500;
}

form .content .caracteristics label {
    align-items: start;
}
form .content .caracteristics label input {
    max-width: 320px;
}

form .content label:has(textarea.desc) {
    align-self: stretch;
}
.product .content textarea.desc {
    margin-top: 0px;
    width: 100%;
    /* max-width: 420px; */
    resize: vertical;
}


form .content label:has(select) {
    flex-direction: row;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
}

form select {
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 6px;
}
/* Form Styles End */