/* App Style Start */
.app {
    height: calc(100vh - 85px);
    max-height: min(1000px, calc(100vh - 85px));

    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}
/* App Style End */

/* Sidebar Start */
.sidebar {
    width: 200px;
    padding: 20px 10px;
    margin: auto 10px auto 0;
    border-radius: 14px;
    overflow-x: hidden;

    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;

    text-align: right;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.sidebar.reduced {
    width: 60px;
}

.sidebar .logo,
.sidebar .switch {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: var(--main-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    color: var(--bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.1rem;
    font-weight: 900;
    pointer-events: none;
}

.sidebar .switch {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 40px;
    font-size: .8rem;
    color: var(--bg-color);
    
    pointer-events: all;
    cursor: pointer;
    transition: .25s;
}
.sidebar .switch:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

.sidebar .switch .icon {
    transform-origin: center 5.5px;
    transition: .25s;
}
.sidebar.reduced .switch .icon {
    transform: rotate(180deg);
}

.sidebar .links {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    list-style: none;
}

.sidebar .links .item {
    height: fit-content;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    flex-direction: row-reverse;
    
    background-color: var(--color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    color: var(--bg-color);
    font-size: 1.05rem;
    font-weight: 500;
    cursor: pointer;
    transition: .25s;
}
.sidebar .links .item:hover,
.sidebar .links .item.active,
.sidebar.reduced .links .item.active,
.sidebar.reduced .links .item:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}
.sidebar.reduced .links .item {
    border-radius: 6px;
    background-color: var(--main-color);
}

.sidebar.reduced .links .item .text {
    opacity: 0;
}

.sidebar .links .item .icon {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    /* background-color: red; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s;
}
.sidebar.reduced .links .item .icon {
    font-size: 1.8rem;
}
/* Sidebar End */


/* Page General Styles Start */
.page {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.page section{
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    padding: 20px;
}
/* Page General Styles End */

/* Products section */
.page .products .product-container .product-card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.page .products .product-container .product-card .info {
    flex: 0 0 200px;
    overflow: hidden;
    position: relative;
}

.page .products .product-container .product-card .info .image {
    height: 200px;
}

.page .products .product-container .product-card .content {
    padding: 5px;
    width: 100%;
    max-width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 6px;
}

.page .products .product-container .product-card .info .mask {
    display: none;
}
.page .products .product-container .product-card.hidden .info .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #ffffffbd;
    color: var(--primary-color);
}


.page .products .product-container .product-card .cta {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.page .products .product-container .product-card .cta .cta-btn {
    padding: 5px 15px;
    font-size: 1rem;
}
.page .products .product-container .product-card .cta .cta-btn {
    --v-color: var(--main-color);
}
/* CTA Button variations */
/* Mask */
.page .products .product-container .product-card .cta .cta-btn.mask {
    --v-color: rgb(7, 122, 103);
}
/* Edit */
.page .products .product-container .product-card .cta .cta-btn.edit {
    --v-color: rgb(19, 145, 218);
}
/* Remove */
.page .products .product-container .product-card .cta .cta-btn.remove {
    --v-color: rgb(161, 0, 0);
}

.page .products .product-container .product-card .cta .cta-btn {
    background-color: var(--v-color);
    border: 1px solid var(--v-color);
}
.page .products .product-container .product-card .cta .cta-btn:hover {
    color: var(--v-color);
    border: 1px solid var(--v-color);
    background-color: inherit;
}