/* General Styles Start */
section {
    padding: 40px;
}
/* General Styles End */

/* Hero Section Start */
.hero {
    background-image: url(../images/sneakers-black-grey-dark-background-concept-photo-2023-08-01-21-06-54-utc-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
    z-index: -1;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 900;
    font-style: italic;
    line-height: 3;
    color: var(--bg-color);
}
/* Hero Section End */

/* Products Section Start */
.product {
    margin-top: 60px;
}
/* Products Section End */