/* General Styles Start */
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 85px);
}
/* General Styles End */

/* Form Styles Start */
form {
    min-height: 400px;
}

form .submit {
    margin-left: auto;
}
/* Form Styles End */