/* General Stuff Start */
@media screen and (max-width: 620px) {
    p {
        font-size: 1rem;
        line-height: 1.58;
    }
}



@media screen and (max-width: 800px) {
    section {
        padding: 30px;
    }

    .hero-title {
        font-size: 2.6rem;
    }
}


@media screen and (max-width: 620px) {
    section {
        padding: 20px;
    }
    
    .section-title {
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 430px) {
    .section-title {
        font-size: 2rem;
        line-height: .95;
    }

    .hero-title {
        font-size: 2.1rem;
    }
}
/* General Stuff End */

/* CTA Button Start */
@media screen and (max-width: 620px) {
    .cta-btn {
        padding: 10px 20px;
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 410px) {
    .cta-btn {
        padding: 8px 15px;
        /* font-size: 1rem; */
    }
}
/* CTA Button End */

/* Header Start */
@media screen and (max-width: 1024px) {
    .header {
        padding: 20px 30px;
        position: relative;
        justify-content: start;
    }

    .header .logo {
        margin-right: auto;
    }

    .header .logo,
    .footer .sitename {
        width: fit-content;
    }

    /* Mobile Navbar */
    .header .navbar {
        padding: 30px;
        position: absolute;
        top: 87px;
        right: 5px;
        min-width: 200px;
        
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        background-color: white;
        flex-direction: column;
        align-items: center;
        
        transform: translateY(-25px);
        opacity: 0;
        transition: .3s;
    }
    .header.menu-deployed .navbar {
        opacity: 1;
        transform: translateY(0);
    }

    /* Mobile Menu Switch */
    .header .menu {
        display: block;
        margin-left: 60px;
    }

    /* User logged header */
    .header.logged .cta .cart-btn {
        margin-left: 0;
    }

    .header.logged .menu {
        margin-left: 10px;
    }
}


@media screen and (max-width: 800px) {
    .header .menu {
        margin-left: 30px;
    }

    .header .cta {
        gap: 10px;
    }
}



@media screen and (max-width: 640px) {

    .header {
        padding: 20px;
    }
    
    .header .cta .cta-btn:not(.inactive) {
        display: none;
    }
}



@media screen and (max-width: 430px) {
    .header {
        padding: 15px 20px;
    }

    .header .logo {
        font-size: 1.7rem;
    }

    .header .navbar {
        top: 70px;
    }

    .header .menu {
        margin-left: 10px;
    }
}
/* Header End */


/* Product Cards Start */
@media screen and (max-width: 640px) {
    .product-container {
        justify-content: center;
        gap: 40px 20px;
    }
}
/* Product Cards End */


/* Footer Start */
@media screen and (max-width: 1142px) {
    .footer .right {
        flex: 0 0 100%
    }

    .footer .right .cta {
        padding-left: 0;
        padding-top: 20px;
    }
}
/* Footer End */